---
import PROJECT_DATA from "../data/project_data";
---

<section class="projects-section">
	<h1 id="projects">Projects</h1>
	{
		PROJECT_DATA.map((item) => (
			<div class="project">
				<div class="project-head">
					<h3>{item.projectName}</h3>
					<p>{item.projectDescription}</p>
				</div>

				<div class="project-img">
					<img src={item.projectImage} />
				</div>

				<div class="project-footer">
					<a href={item.projectGitLink} target="_blank" rel="noopener noreferrer">GitHub</a>
					<a href={item.projectLiveLink} target="_blank" rel="noopener noreferrer">Live Site</a>
				</div>
			</div>
		))
	}
</section>

<style>
	.projects-section {
		grid-column: span 12;
	}

	.project {
		margin-bottom: 3rem;
		width: 100%;
	}

	.project-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.project-head p {
		width: 45ch;
	}

	.project-image {
		width: fit-content;
	}

	img {
		width: 100%
	}

	.project-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>
