---
import PROJECT_DATA from "../data/project_data";
import Gallery from "./gallery.astro";
---


<section id="projects-section">
	<h1 id="project-header">Projects</h1>
	{
		PROJECT_DATA.map((item) => (
			<div class="project">
				<div class="project-head">
					<h3>{item.projectName}</h3>
					<p>{item.projectDescription}</p>
				</div>

				<Gallery projectImageCollection={item.projectImageCollection}/>

				<div class="project-footer">
					<div class="project-footer-hashtag-container">
						{item.projectHashTagCollection.map((element) => (
							<p class="hashtag">{element.tag}</p>
						))}
					</div>
					<div class="project-footer-links-container">
						{/* If item.projectGitLink is empty (?), then display nothing (:), else ... */}
						{item.projectGitLink == "" ? (
							<a class="empty" />
						) : (
							<div>
								{/* If the first hashtag in the collection is #Article, then display Article, else display GitHub */}
								{item.projectHashTagCollection[0].tag == "#Article" || item.projectHashTagCollection[0].tag == "#Design" ? (
									<a
										href={item.projectGitLink}
										target="_blank"
										rel="noopener noreferrer"
									>
										Link
									</a>
								) : (
									<a
										href={item.projectGitLink}
										target="_blank"
										rel="noopener noreferrer"
									>
										GitHub
									</a>
								)}
							</div>
						)}

						{/* If item.projectLiveLink is empty (?), then display nothing (:), else display <a> tag*/}
						{item.projectLiveLink == "" ? (
							<a class="empty" />
						) : (
							<a
								href={item.projectLiveLink}
								target="_blank"
								rel="noopener noreferrer"
							>
								Live Site
							</a>
						)}
					</div>
				</div>
			</div>
		))
	}
</section>

<style>
	/* =================== constants =================== */
	.empty {
		display: none;
		visibility: hidden;
	}

	.project {
		padding: 0 1rem;
		margin-bottom: 5rem;
	}

	.project-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
		margin-bottom: 2rem;
	}

	.project-head p {
		width: 35ch;
		text-align: right;
	}

	.project-footer {
		margin-top: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: end;
	}

	.project-footer-hashtag-container {
		display: inline-flex;
	}

	.hashtag:not(:last-child) {
		margin-right: 0.5rem;
	}

	.project-footer-links-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.project-footer-links-container * {
		margin-right: 0.5rem;
	}

	/* =================== media queries =================== */
	/* =================== MOBILE =================== */
	@media only screen and (max-width: 40em) {
		#projects-section {
			grid-column: span 4;
		}
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) and (max-width: 64em) {
		#projects-section {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		#projects-section {
			grid-column: span 12;
		}

		.project-head p {
			width: 45ch;
			text-align: right;
		}
	}
</style>
